@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro')

html,body
  background-color #fff
  margin 0
  font-family Anonymous Pro
  color #ff5500
  .splashc
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    .splash
      top 50%
      left 50%
      transform translate(-50%,-50%)
      position absolute
      text-align center
      img
        width 20vw
        height auto
      h1
        font-size 3vw
      p
        font-size 2.5vw
      a
        display inline-block
        font-size 3.5vw
        color #ff5500
        text-decoration none
        border 2px solid #ff5500
        padding 20px
  .content
    position absolute
    top 100%
    left 10%
    width 80%
    padding-bottom 5%
    h1
      font-size 3vw
    p,ul
      font-size 2vw
      color #666
